@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.sortDropdown {
    display: flex;
    align-items: center;
    max-width: 223px;
    gap: 8px;
}

.sortDropdown label {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: left;
    color: #09174a;
}

.sortDropdown select {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

